@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-image {
    height: auto;
    width: 100%;
    align-self: center;
    background-image: url("../images/hero.jpg");
    padding: 0 15px 0 15px
}

.img1 {
    width: 100%;
}

hr {
    border: 0;
    border-top: 2.5px solid #4a4c52;
    padding-top: 10px;
}

li,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5px 0 5px;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(40px);

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    max-width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}


.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;
}

.nav-bar {
    width: 100%;
    height: 60px;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}


.nav-links li {
    display: inline-flex;
    padding: 20px 10px;
    color: black
}

.nav-links li a {
    font-size: 1.15rem;
    font-weight: 500;
    Color: white;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: black;
}

li {
    list-style: inside;
}

footer {
    background-color: #36424E;
    margin:;
    
}

footer ul li {
    display: inline;
}

.social-networks {
    display: inline-block;
    text-align: left;
}

.social-networks a {
    text-decoration: none;
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 50%;

}

.social-networks a i {
    font-size: 22px;
    color: #000000;
    opacity: 0.9;
}

.social-networks a:hover {
    background-color: black;
    transition: 0.5s;
}

.social-networks a:hover i {
    color: white;
    transition: 0.5s;
}


.div1{
    text-align: center;
}

.social-networks {
    
    width: 100%;
    padding: 70px 30px 20px;
    justify-content: center;
    
}

.footerbottom  {
    text-align: center;
}


/*media query(larger devices)*/
@media screen and (min-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }

    .icon {
        display: block;
    }
}

/*media query(smaller devices)*/
@media screen and (min-width: 768px) {
    .img {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    body {
        padding: 0 25px 0 25px;
    }

    .hero-image {
        padding: 0 10px 0 10px;
    }


}