/* Add google font(poppins)*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero {
    height: 425px;
    width: 100%;
    background: url("assets/images/road.jpg") no-repeat center center/cover;
}


li,
a,
{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;
text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;
    position: fixed:
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}


.nav-links li {
    display: inline-block;
    padding: 0 20px;
    color: black
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

li {
    list-style: inside;
}

/*media query(smaller devices)*/

@media screen and (min-width: 768px) 

    /*media query(larger devices)*/

 @media screen and (min-width: 992px) {