@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-image {
    height: auto;
    width: 100%;
    align-self: center;
    background-image: url("../images/hero.jpg");
    padding: 0 15px 0 15px
}

.img1 {
width: 100%;
}



li,
a,
{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;
text-decoration: none;
}


header {}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    max-width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
}

nav {}

/*test for border*/
#first {
    background-color;
    rgb(107, 177, 125);
    border: 1px soild #000000;
    padding: 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}


.nav-links li {
    display: inline-flex;
    padding: 20px 10px;
    color: black
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: black;
}

li {
    list-style: inside;
}

/*media query(smaller devices)*/
@media screen and (min-width: 768px) {
    .img {
        width: 100%;
        height: auto;
        padding bottom: 30px;
    }

body {
   padding: 0 25px 0 25px;
}

.hero-image {
    padding: 0 10px 0 10px;
}
    /*media query(larger devices)*/
    @media screen and (min-width: 992px) {